<?xml version="1.0" encoding="utf-8"?>

<packages>

<!-- Utils -->
<package id="7zip.install" />
<package id="adobereader" />
<package id="ccleaner" />
<package id="teamviewer" />
<package id="filezilla" />
<package id="calibre" />
<package id="steam" />
<package id="rufus" />
<package id="etcher" />
<package id="lastpass" />
<package id="monosnap" />

<!-- Browsers -->
<package id="googlechrome" />
<package id="firefox" />

<!-- Chat -->
<package id="discord" />

<!-- Dev -->
<package id="vscode" />
<package id="sublimetext3" />
<package id="git.install" />
<package id="github-desktop" />
<package id="putty.install" />
<package id="nodejs-lts" />
<package id="php" version="7.4.13" />
<package id="yarn" />
<package id="composer" />
<package id="google-drive-file-stream" />

<!-- Security -->
<package id="malwarebytes" />

</packages>